<div class="container-fluid">

    <ul class="nav justify-content-center nav-button">
        <li class="nav-item">
            <a class="nav-link" href="#">Donde</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fecha</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fotos</a>
        </li>
    </ul>

    <h1 class="f-melinda tittle">Nos casamos</h1>

    <div class="main-img">
        <img src="assets/img/46977858_332498920875989_5420676025258344448_n.jpg" class="img-fluid" alt="Responsive image">
        
        <div class="f-melinda couple-names">
            <h2 class="boyfriend">Javy</h2>
            <h2 class="ampersand">&</h2>
            <h2 class="girlfriend">Vasty</h2>
        </div>


    </div>

    

</div>