@font-face {
    font-family: 'Melinda';
    src: url(../../assets/fonts/Melinda-script.ttf);
}

@font-face {
    font-family: 'Lattesha';
    src: url(../../assets/fonts/Lattesha-Script.ttf);
}

.f-latesha {
    font-family: 'Lattesha';
}

.f-melinda {
    font-family: 'Melinda';
    color: #B25932;
    font-size: xxx-large;
}

.location-button {
    background: #ffffff;
}

.location-button:active {
    background: #ffffff;
    transform: scale(0.98);
}

 .countdown__item p {
    color: #ffffff;
}

.countdown__item span {
    color: #ffffff;
}

.countdown__item:after {
	color: #ffffff;
}

.rsvp__form {
    margin-top: 10px;
}

.rsvp {
    height: 1000px;
}

.rsvp_1 {
    height: 400px;
}